In [1]:
import pandas as pd
import numpy as np
from matplotlib.pyplot import ylabel

In [ ]:
df = pd.read_csv(r"C:\Users\valen\PRACTICA_PARCIAL\practice_herramientas_dataset.csv")

In [ ]:
df.shape #Contamos la forma del dataset

In [ ]:
df

In [ ]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors = 'coerce')

In [ ]:
df["City"] = df["City"].astype(str)
"""
Convertimos una columna a tipo str
"""

In [ ]:
df["Order_ID"] = df["Order_ID"].astype(float)
"""
Convertimos una columna a tipo str
"""

In [ ]:
df.dtypes #Estudiar que tipos de datos tenemos

In [ ]:
df[["Customer","City","Category"]] #Hacer una vista de col

In [ ]:
df.head() #Vista previa del df 5 primeras filas

In [ ]:
df = df.set_index("City") #Convertir en indice una col

In [ ]:
prueba = df.loc["Salto"] #mostramos filas que contengan salto

In [ ]:
prueba.head()

In [ ]:
df["City"].unique().tolist() #listado de ciudades que aparecen en df

In [ ]:
df.iloc[75] #te muestra la fila indicada del df o fila y col

In [ ]:
df.info() #te permite analizar la estructura de filas

In [ ]:
df["Order_Amount"].describe() #datos estadisticos de col

In [ ]:
df["City"].value_counts() #Cuenta cantidad de ocurrencias de un valor con normalize=true muestra %

In [ ]:
df["City"] = df["City"].replace("Montevideo", "MVD")

In [ ]:
prueba2 = df["City"] == "Colonia" ##mostramos filas que contengan COLONIA sin crear indice
top5 = df[prueba2].head()
top5

In [ ]:
df["Order_Amount"].plot.line()

In [ ]:
df.tail(10) #te muestra los ultimos valores

In [ ]:
df.columns = ['GAY','HOLA','PUTO','TR','SA','OPA']

In [ ]:
df["Order_Amount"].isnull() #Diferentes formas de ver valores null

In [ ]:
df[df["Order_Amount"].isnull()]

In [ ]:
df.dropna(how="any",inplace=True) #dropea las filas con por lo menos un valor null , con inplace lo reemplaza en el df original, sino solo muestra

In [ ]:
df.fillna(10,inplace=True) #reemplaza el valor null por el indicado, inplace para dejarlo en el df

In [ ]:
df.tail()

In [ ]:
df["Order_Amount"] = df["Order_Amount"].fillna(df["Order_Amount"].mean()) #reemplaza el valor null por la media

In [ ]:
df.rename(columns={"Order_Amount":"Value_Amount"}, inplace=True)

In [ ]:
df[df["Value_Amount"]>1285,] #te muestra valores mayores a x

In [ ]:
df.sort_values("City", ascending=False) #te ordena por orden descendente una columna

In [ ]:
df.groupby(["Order_ID","Value_Amount"])

In [ ]:
df

In [ ]:
df.groupby("City")["Order_Amount"].mean()

In [ ]:
df["Order_Amount"].apply(lambda x: x / 41)

In [ ]:
df2 = pd.read_csv(r"C:\Users\valen\PRACTICA_PARCIAL\dataset_nuevo.csv")

In [ ]:
df2

In [ ]:
df = pd.concat([df, df2], ignore_index=True)

In [ ]:
df

In [ ]:
df["Order_Date"] = df["Order_Date"].fillna(df["Date"]) #fillna cambia los valores null por lo que le indiques
df.drop(columns="Date",inplace=True)

# Pr√°ctica de Numpy

In [ ]:
ds = pd.read_csv(r"C:\Users\valen\PRACTICA_PARCIAL\dataset_numpy_practice.csv")

In [ ]:
ds

In [ ]:
gay = np.linspace(0,100,6)

In [ ]:
gay

In [ ]:
puto = np.arange(0,13,3)

In [ ]:
puto

In [ ]:
pitudo = np.full((2,3), 8)

In [ ]:
pitudo

In [ ]:
manza_gay = np.random.rand(2,4)*100 #te hace un array random de dimensiones 2x4 con float del 0 al 100
manza_gay

In [ ]:
vale_capo = np.random.randint(100, size=(2,4)) #lo mismo pero con enteros
vale_capo

In [ ]:
vale_capo.size
vale_capo.tolist()

In [ ]:
np.copy(manza_gay)

In [ ]:
pitudo.flatten()

In [ ]:
manza_gay.T

In [ ]:
manza_gay.reshape(2,4)

In [ ]:
nuevo = np.resize(manza_gay, (3,5))

In [ ]:
nuevo

In [ ]:
np.insert(nuevo,7,10)

In [ ]:
np.delete(nuevo, 0 , axis =1)

In [ ]:
nuevo[2,3]

In [ ]:
nuevo[1,3] = 5

In [ ]:
nuevo

In [ ]:
nuevo[0:2,3]

In [ ]:
nuevo < 50

In [ ]:
vale = np.random.rand(3,5)*100

In [ ]:
vale = np.add(nuevo,vale)

In [ ]:
vale

In [ ]:
np.ceil(vale)

In [ ]:
np.abs(vale)

In [ ]:
np.floor(vale)

In [ ]:
vale = np.round(vale)

In [ ]:
vale

In [ ]:
np.mean(vale, axis=0)

In [ ]:
vale.sum()

In [ ]:
np.corrcoef(vale)

In [ ]:
resultado = vale + nuevo

In [ ]:
resultado

# MATPLOTLIP

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set_theme()

In [ ]:
plt.plot([0 , 2, 4, 6] , [10 ,20,30,40],                                         color = 'blue', linestyle = '--')
plt.show

In [ ]:
x_value = [10, 20,30,40]
y_value = [100,210,330,440]
y_value1 = [120,240,350,440]

In [ ]:
plt.scatter(x_value, y_value, color='red',s=100)
plt.show

In [ ]:
plt.bar(x=x_value, height=y_value)
plt.show

In [ ]:
categorias = ['A', 'B', 'C','D']
valores = [100, 250, 180]

plt.barh(y=categorias, width=x_value, color = 'red', edgecolor='blue')
plt.show()

In [ ]:
plt.hist(df["Order_Amount"])
plt.show()

In [ ]:
plt.fill_between(x_value,y1=y_value, y2=y_value1)
plt.xticks(rotation=30)
plt.yticks(rotation=30)
plt.title('Manza capo', fontsize=20, color='black', fontfamily='Times new Roman')
plt.xlabel('Order Amount')
plt.ylabel('Gayometro')
plt.show

In [ ]:

valores = [10, 20, 35, 15,20]
categorias = ["A", "B", "C", "D", "E"]

plt.pie(valores, labels=categorias, autopct='%1.2f%%')

plt.grid(False)
plt.legend(loc='lower left', fontsize=10)
plt.show()

In [ ]:
plt.scatter(df["Order_Amount"], df["Order_Amount"],
            c=df["Order_Amount"], cmap='viridis')
plt.colorbar()

**Matplotlib (plt)**

* plt.figure
* plt.subplot
* plt.suptitle
* plt.tight_layout

In [ ]:
plt.figure(figsize=(13, 8))
plt.plot(df["Order_Amount"], df["Order_Amount"])
plt.title("Relaci√≥n entre Precio y Ventas")
plt.xlabel("Precio")
plt.ylabel("Ventas")
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))

# Primer gr√°fico
plt.subplot(1, 2, 1) #PRIMERO CANTIDAD DE DIV EN Y, SEGUNDO EN X, TERCERO BOOLEANO IZQ O DER
plt.hist(df["Order_Amount"], bins=10)
plt.title("Distribuci√≥n del Precio")

# Segundo gr√°fico
plt.subplot(1, 2, 2)
plt.hist(df["Order_ID"], bins=10)
plt.title("Distribuci√≥n de Ventas")
plt.tight_layout()  # <-- Ajusta espacios

plt.show()

# Pr√°ctica prueba tecnica .I.


# ‚úÖ *EVALUACI√ìN ‚Äì Pr√°ctica Integrada Pandas / NumPy / Matplotlib*

*Tiempo sugerido:* 45 minutos
*Dataset:* descarg√° el CSV m√°s abajo

---

## *üìå Parte A ‚Äî Exploraci√≥n inicial*

1. *Cargar el CSV* en un DataFrame llamado df.

2. Mostrar las *primeras 5 filas* con df.head().

3. Ejecutar df.info() y responder:

   * ¬øQu√© columnas son tipo object?
   * ¬øQu√© columnas son num√©ricas?
   * ¬øLa columna Fecha est√° como string o como datetime?

4. **Convertir la columna Fecha** a tipo datetime con pd.to_datetime.

5. Ejecutar nuevamente df.info() para corroborar el cambio.

6. Identificar valores faltantes usando:

   * df.isnull().sum()

7. Completar valores faltantes:

   * Descuento: reemplazar NaN por 0
   * Metodo_pago: reemplazar NaN por "Efectivo"

---

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r'C:\Users\valen\PRACTICA_PARCIAL\df_practica.csv')

In [4]:
df.head()

,Order_ID,Fecha,Ciudad,Categoria,Precio_unitario,Cantidad,Descuento,Metodo_pago,Cliente_VIP,Satisfaccion
0,101,2024-01-05,Salto,Panader√≠a,120.5,3,0.10,Efectivo,S√≠,5
1,102,2024-01-05,Salto,Rotiser√≠a,350.0,1,0.00,Tarjeta,No,4
2,103,2024-01-06,Paysand√∫,Bebidas,80.0,5,NaN,Tarjeta,S√≠,3
3,104,2024-01-06,Paysand√∫,Panader√≠a,150.0,2,0.05,NaN,No,4
4,105,2024-01-07,Salto,Confiter√≠a,250.5,4,0.00,Efectivo,S√≠,5

In [ ]:
df.info()

R1: FECHA, CIUDAD,CATEGORIA,METODO_PAGO,CLIENTE_VIP
R2: ORDER_ID, PRECIO_UNITARIO,DESCUENTO, SATISFFACCI√ìN
R3: Fecha est√° como str

In [5]:
df['Fecha'] = pd.to_datetime(df['Fecha'], errors = 'coerce')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         10 non-null     int64
 1   Fecha            10 non-null     datetime64[ns]
 2   Ciudad           10 non-null     object
 3   Categoria        10 non-null     object
 4   Precio_unitario  10 non-null     float64
 5   Cantidad         10 non-null     int64
 6   Descuento        8 non-null      float64
 7   Metodo_pago      8 non-null      object
 8   Cliente_VIP      10 non-null     object
 9   Satisfaccion     10 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 932.0+ bytes

In [7]:
df.isnull().sum()

Order_ID           0
Fecha              0
Ciudad             0
Categoria          0
Precio_unitario    0
Cantidad           0
Descuento          2
Metodo_pago        2
Cliente_VIP        0
Satisfaccion       0
dtype: int64

In [8]:
df['Metodo_pago'] = df['Metodo_pago'].fillna('Efectivo')

In [9]:
df['Descuento'] = df['Descuento'].fillna(0)


## *üìå Parte B ‚Äî Transformaciones*

8. Crear una columna nueva:

   * Ingreso_bruto = Precio_unitario * Cantidad

9. Crear:

   * Ingreso_neto = Ingreso_bruto * (1 - Descuento)

10. Usando np.where, crear una columna:

* "Venta_alta" = "S√≠" si Cantidad > 5, "No" en otro caso.

11. Calcular estad√≠sticos:

* Media y desv√≠o est√°ndar de Ingreso_neto usando Pandas.
* Media y desv√≠o est√°ndar usando NumPy.
* Comparar y entender diferencias (ddof).

---

In [10]:
df['Ingreso_bruto'] = df['Precio_unitario'] * df['Cantidad']
df['Ingreso_neto'] = df['Ingreso_bruto'] * (1 - df['Descuento'])

In [13]:
df.head()

,Order_ID,Fecha,Ciudad,Categoria,Precio_unitario,Cantidad,Descuento,Metodo_pago,Cliente_VIP,Satisfaccion,Ingreso_bruto,Ingreso_neto,Venta_alta
0,101,2024-01-05,Salto,Panader√≠a,120.5,3,0.10,Efectivo,S√≠,5,361.5,325.35,No
1,102,2024-01-05,Salto,Rotiser√≠a,350.0,1,0.00,Tarjeta,No,4,350.0,350.00,No
2,103,2024-01-06,Paysand√∫,Bebidas,80.0,5,0.00,Tarjeta,S√≠,3,400.0,400.00,No
3,104,2024-01-06,Paysand√∫,Panader√≠a,150.0,2,0.05,Efectivo,No,4,300.0,285.00,No
4,105,2024-01-07,Salto,Confiter√≠a,250.5,4,0.00,Efectivo,S√≠,5,1002.0,1002.00,No

In [12]:
df["Venta_alta"] = np.where(df["Cantidad"] > 5, "S√≠", "No")

In [128]:
print(df['Ingreso_neto'].mean())

566.5350000000001

In [130]:
print(df['Ingreso_neto'].std())

248.4689920850845

## *üìå Parte C ‚Äî An√°lisis y agrupaciones*

12. Agrupar por *Ciudad* y calcular:

* Ingreso_neto total.
* Ordenarlo de mayor a menor.

13. Agrupar por *Categoria* y calcular:

* Ingreso_neto total
* Cantidad total vendida
* Ordenar por Ingreso_neto total.

14. Analizar clientes VIP:

* df["Cliente_VIP"].value_counts()
* Ingreso_neto promedio para:

  * VIP (‚ÄúS√≠‚Äù)
  * No VIP (‚ÄúNo‚Äù)

In [26]:
df.groupby(['Ciudad', 'Ingreso_neto'])

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         10 non-null     int64
 1   Fecha            10 non-null     datetime64[ns]
 2   Ciudad           10 non-null     object
 3   Categoria        10 non-null     object
 4   Precio_unitario  10 non-null     float64
 5   Cantidad         10 non-null     int64
 6   Descuento        10 non-null     float64
 7   Metodo_pago      10 non-null     object
 8   Cliente_VIP      10 non-null     object
 9   Satisfaccion     10 non-null     int64
 10  Ingreso_bruto    10 non-null     float64
 11  Ingreso_neto     10 non-null     float64
 12  Venta_alta       10 non-null     object
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 1.1+ KB

In [35]:
df.groupby("Ciudad")["Ingreso_neto"].sum().sort_values(ascending = False)  #sort_values para ordenar

Ciudad
Salto        3143.35
Paysand√∫     1510.00
Concordia    1012.00
Name: Ingreso_neto, dtype: float64

In [43]:
df.groupby('Categoria')[['Ingreso_neto','Cantidad']].sum().sort_values('Ingreso_neto', ascending = False)

            Ingreso_neto  Cantidad
Categoria
Confiter√≠a       1827.00         7
Bebidas          1776.00        23
Panader√≠a        1312.35        11
Rotiser√≠a         750.00         2

In [47]:
df['Cliente_VIP'].value_counts()

Cliente_VIP
S√≠    5
No    5
Name: count, dtype: int64

In [54]:
df.groupby("Cliente_VIP")["Ingreso_neto"].mean()

Cliente_VIP
No    542.60
S√≠    590.47
Name: Ingreso_neto, dtype: float64