In [ ]:
n = int(input("Ingrese un n√∫mero entero"))
for i in range (1, n + 1):
    if i % 3 == 0 and i % 5 == 0:
        print("Tic toc")
    elif i % 3 == 0:
        print("tic")
    elif i % 5 == 0:
        print("toc")
    else :
        print(i)

In [ ]:
def parcial(number):
    for i in range (1, number + 1):
        if i % 3 ==0 and i % 5==0:
            print("Tic toc")
        elif i % 3 == 0:
            print("tic")
        elif i % 5 == 0:
            print("toc")
        else :
            print(i)


parcial(50)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df= pd.read_csv('../data/diabetes.csv')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df[df['Glucose'] == 0].shape[0]

In [ ]:
df[df['BloodPressure'] == 0].shape[0]

In [ ]:
df[df['Insulin'] == 0].shape[0]

In [ ]:
media_insulina = df['Insulin'].mean()

In [ ]:
media_insulina

In [ ]:
df['Insulin'] = df['Insulin'].replace(0,media_insulina)

In [25]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,118.660163,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,93.080358,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,79.799479,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,79.799479,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000